### Performing simple sqlite operations in python

In [1]:
import sqlite3 

# making sqlite3 connection object
db=sqlite3.connect('Employee sqlite')

# making a cursor object

cur=db.cursor()

# storing a sqlite query in variable
sql_query='create table EmployeeDetail (employeeid int Primary Key, name text, age int, department text, salary int)'

# execute the sqlite query using variable
cur.execute(sql_query)

# execution of sqlite query directly

cur.execute('insert into employeedetail values(100,"Rishav",25,"Marketing",50000)')

# commit a query to database in order to make changes in database
db.commit()

# more single line query execution
cur.execute('insert into employeedetail values(101,"Abhishek",26,"Operations",60000)')
cur.execute('insert into employeedetail values(102,"Aman",24,"Human Resource",75000)')

db.commit()

cur.execute('delete from employeedetail where employeeid=101')

# single line query execution using parameters
value=102
cur.execute('delete from employeedetail where employeeid=?',(value,))

In [17]:
# Multiple query execution at once using list of tuples

employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]


# create a list of tuple
value=[]
for i in range(10):
    tup=(employee_id[i],name[i],age[i],department[i],salary[i])
    value.append(tup)

In [18]:
# execute the multiple query using execute many

cur.executemany('insert into employeedetail values(?,?,?,?,?)',value)

db.commit()

##### This coding was done by @RK2021